html, body {
  height: 100%;
  background-color: #f9f9f9;
}
#wrap {
  margin-left: 10%;
  margin-right: 10%;
  min-height: 100%;
  padding-top: 20px;
  padding-bottom: 200px;
}
footer{
  height: 170px;
  margin-top: -170px;
  border-top: 1px solid #ebebeb;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 10%;
}
#aboutMe {
  width: 200px;
}
#aboutMe a {
  display: block;
}
#aboutMe img {
  height: 20px;
  margin: 10px 10px 10px 0;
  float: left;
}
#aboutMe span {
  line-height: 40px;
  color: #777;
  font-size: 14px;
}
#aboutMe a:hover span {
  color: #000;
}
#statement {
  margin-top: 24px;
  margin-bottom: 40px;
  color: #777;
  font-size: 14px;
  line-height: 26px;
}
#statement a {
  color: #777;
}
#statement a:hover {
  color: #000;
  text-decoration: underline;
}
